#santri {
  .santri {
    min-height: 100vh;
    .database-santri {
      display: flex;
      justify-content: space-between;
      align-items: center;
      @media screen and (max-width: 768px) {
        display: inherit !important;
        .left {
          margin-bottom: 10px;
        }
      }
      .left {
        .select {
          font-size: 12px;
        }
      }
      .right {
        width: 50%;
        margin: 0 0 0 auto;
        display: flex;
        gap: 20px;
        align-items: center;
        justify-content: flex-end;
        @media screen and (max-width: 768px) {
          width: inherit !important;
        }
        .button-santri {
          button {
            font-size: 12px;
            i {
              font-size: 10px;
            }
          }
        }
      }
    }
    .table-responsive {
      overflow-x: auto;
      width: 100%;
      .table {
        width: 100%;
        .table-hover {
          width: 100%;
        }
        thead {
          tr {
            th {
              padding: 15px 20px;
              background: #176b87;
              font-size: 12px;
              color: #fff;
            }
          }
        }
        tbody {
          tr {
            td {
              padding: 15px 20px;
              margin: auto;
              font-size: 12px;
              .power {
                font-size: 12px;
                padding: 5px;
                border-radius: 3px;
              }
            }
          }
        }
        @media screen and (max-width: 576px) {
          thead {
            tr {
              th {
                font-size: 12px;
              }
            }
          }
          tbody {
            tr {
              td {
                font-size: 12px;
              }
            }
          }
        }
      }
    }
  }
}

#settings {
  .settings {
    min-height: 100vh;
    .input-group {
      button {
        font-size: 12px !important;
      }
      select {
        font-size: 12px !important;
      }
    }
    h2 {
      font-size: 14px;
    }
    .table-responsive {
      overflow-x: auto;
      width: 100%;
      .table {
        width: 100%;
        .table-hover {
          width: 100%;
        }
        thead {
          tr {
            th {
              padding: 15px 20px;
              background: #176b87;
              font-size: 12px;
              color: #fff;
            }
          }
        }
        tbody {
          tr {
            td {
              padding: 15px 20px;
              margin: auto;
              font-size: 12px;
              .power {
                font-size: 12px;
                padding: 5px;
                border-radius: 3px;
              }
            }
          }
        }
        @media screen and (max-width: 576px) {
          thead {
            tr {
              th {
                font-size: 12px;
              }
            }
          }
          tbody {
            tr {
              td {
                font-size: 12px;
              }
            }
          }
        }
      }
    }
  }
}

#rekaptahfidz {
  .rekaptahfidz {
    .table-responsive {
      overflow-x: auto;
      .table {
        width: 100%;
        border-collapse: collapse;
        width: 100%;
        thead {
          tr {
            th {
              border: 0.5px solid;
              text-align: center;
              vertical-align: middle;
              padding: 15px 20px;
              background: #176b87;
              font-size: 12px;
              color: #fff;
            }
          }
        }
        tbody {
          tr {
            td {
              padding: 15px 20px;
              margin: auto;
              font-size: 12px;
            }
          }
        }
        @media screen and (max-width: 576px) {
          thead {
            tr {
              th {
                font-size: 12px;
              }
            }
          }
          tbody {
            tr {
              td {
                font-size: 12px;
              }
            }
          }
        }
      }
    }
  }
}
