#pegawai .pegawai {
  min-height: 100vh;
}
#pegawai .pegawai .database-pegawai {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#pegawai .pegawai .database-pegawai .right {
  width: 50%;
  margin: 0 0 0 auto;
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: flex-end;
}
@media screen and (max-width: 768px) {
  #pegawai .pegawai .database-pegawai .right {
    width: inherit !important;
  }
}
#pegawai .pegawai .database-pegawai .right .button-santri button {
  font-size: 12px;
}
#pegawai .pegawai .database-pegawai .right .button-santri button i {
  font-size: 10px;
}
#pegawai .pegawai .table-responsive {
  overflow-x: auto;
  border-radius: 7px !important;
  box-shadow: 0 0 15px rgba(177, 177, 177, 0.4);
}
#pegawai .pegawai .table-responsive .table {
  width: 100%;
  margin-bottom: 0 !important;
}
#pegawai .pegawai .table-responsive .table thead tr th {
  padding: 15px 20px;
  background: #176b87;
  font-size: 12px;
  color: #fff;
}
#pegawai .pegawai .table-responsive .table tbody tr td {
  line-height: 16px;
  padding: 10px 20px;
  margin: auto;
  font-size: 12px;
}
#pegawai .pegawai .table-responsive .table tbody tr td .action {
  margin-top: 1px !important;
  height: 100%;
  min-width: 54px !important;
}
#pegawai .pegawai .table-responsive .table tbody tr td .personalia {
  font-size: 12px;
  color: #fff;
  border-radius: 30px;
  padding: 5px 15px;
}
#pegawai .pegawai .table-responsive .table tbody tr td span {
  font-size: 12px !important;
}
#pegawai .pegawai .table-responsive .table tbody tr td button {
  padding: 2px 5px 0.5px !important;
}
#pegawai .pegawai .table-responsive .table tbody tr td button i {
  font-size: 14px !important;
  padding: -5px !important;
}
@media screen and (max-width: 576px) {
  #pegawai .pegawai .table-responsive .table thead tr th {
    font-size: 12px;
  }
  #pegawai .pegawai .table-responsive .table tbody tr td {
    font-size: 12px;
  }
}

#walas .walas {
  min-height: 100vh;
}
#walas .walas .table-responsive {
  overflow-x: auto;
}
#walas .walas .table-responsive .table {
  width: 100%;
}
#walas .walas .table-responsive .table thead tr th {
  padding: 15px 20px;
  background: #176b87;
  font-size: 12px;
  color: #fff;
}
#walas .walas .table-responsive .table tbody tr td {
  line-height: 16px;
  padding: 10px 20px;
  margin: auto;
  font-size: 12px;
}
#walas .walas .table-responsive .table tbody tr td .action {
  margin-top: 1px !important;
  height: 100%;
  min-width: 54px !important;
}
#walas .walas .table-responsive .table tbody tr td .personalia {
  font-size: 12px;
  color: #fff;
  border-radius: 30px;
  padding: 5px 15px;
}
#walas .walas .table-responsive .table tbody tr td span {
  font-size: 12px !important;
}
#walas .walas .table-responsive .table tbody tr td button {
  padding: 2px 5px 0.5px !important;
}
#walas .walas .table-responsive .table tbody tr td button i {
  font-size: 14px !important;
  padding: -5px !important;
}
@media screen and (max-width: 576px) {
  #walas .walas .table-responsive .table thead tr th {
    font-size: 12px;
  }
  #walas .walas .table-responsive .table tbody tr td {
    font-size: 12px;
  }
}

#musyrif .musyrif {
  min-height: 100vh;
}
#musyrif .musyrif .table-responsive {
  border-radius: 7px !important;
  box-shadow: 0 0 15px rgba(177, 177, 177, 0.4);
  overflow-x: auto;
}
#musyrif .musyrif .table-responsive .table {
  width: 100%;
  margin-bottom: 0 !important;
}
#musyrif .musyrif .table-responsive .table thead tr th {
  padding: 15px 20px;
  background: #176b87;
  font-size: 12px;
  color: #fff;
}
#musyrif .musyrif .table-responsive .table tbody tr td {
  line-height: 16px;
  padding: 10px 20px;
  margin: auto;
  font-size: 12px;
}
#musyrif .musyrif .table-responsive .table tbody tr td .action {
  margin-top: 1px !important;
  height: 100%;
  min-width: 54px !important;
}
#musyrif .musyrif .table-responsive .table tbody tr td .personalia {
  font-size: 12px;
  color: #fff;
  border-radius: 30px;
  padding: 5px 15px;
}
#musyrif .musyrif .table-responsive .table tbody tr td span {
  font-size: 12px !important;
}
#musyrif .musyrif .table-responsive .table tbody tr td button {
  padding: 2px 5px 0.5px !important;
}
#musyrif .musyrif .table-responsive .table tbody tr td button i {
  font-size: 14px !important;
  padding: -5px !important;
}
@media screen and (max-width: 576px) {
  #musyrif .musyrif .table-responsive .table thead tr th {
    font-size: 12px;
  }
  #musyrif .musyrif .table-responsive .table tbody tr td {
    font-size: 12px;
  }
}

#mapel .mapel {
  min-height: 100vh;
}
#mapel .mapel .row select {
  font-size: 12px;
  width: 100px;
}
#mapel .mapel .row h2 {
  margin-bottom: 0px !important;
}
#mapel .mapel .table-responsive {
  overflow-x: auto;
  border-radius: 7px !important;
  box-shadow: 0 0 15px rgba(177, 177, 177, 0.4);
}
#mapel .mapel .table-responsive .table {
  width: 100%;
  margin-bottom: 0 !important;
}
#mapel .mapel .table-responsive .table thead tr th {
  padding: 15px 20px;
  background: #176b87;
  font-size: 12px;
  color: #fff;
}
#mapel .mapel .table-responsive .table tbody tr td {
  line-height: 16px;
  padding: 8px 20px;
  margin: auto;
  font-size: 12px;
}
#mapel .mapel .table-responsive .table tbody tr td .action {
  margin-top: 1px !important;
  height: 100%;
  min-width: 54px !important;
}
#mapel .mapel .table-responsive .table tbody tr td .btn {
  padding: 2px 7px !important;
}
#mapel .mapel .table-responsive .table tbody tr td .btn span {
  font-size: 12px !important;
}
@media screen and (max-width: 576px) {
  #mapel .mapel .table-responsive .table thead tr th {
    font-size: 12px;
  }
  #mapel .mapel .table-responsive .table tbody tr td {
    font-size: 12px;
  }
}/*# sourceMappingURL=pegawai.css.map */