.loginPage {
  height: 100vh;
  position: relative;
  overflow: hidden;
}
.container .row .col-md-6 {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.mainImage {
  width: 300px;
  /* margin-top: 70px; */
  margin-left: -30px;
}

.container .row .col-md-6 h1 {
  font-size: 28px;
  font-weight: 600;
  line-height: 36px;
  margin-bottom: 15px;
}

.container .row .col-md-6 h6 {
  font-size: 16px;
  color: grey;
}

/* form */
form {
  display: flex;
  flex-direction: column;
  margin-left: 100px;
}

h2 {
  font-size: 24px;
  margin-bottom: 40px;
}
.input-group-manual {
  border: 1px solid #ffffff;
  height: 45px;
  width: 350px;
  border-radius: 8px;
}

.input {
  height: 100%;
  border: none;
  background: #176b87;
  /* background: #cc15dd; */
  color: #ffffff;
  width: 70%;
}
i {
  color: #ffffff;
}
p {
  font-size: 14px;
}
.input::placeholder {
  color: #c7c7c7;
}
a {
  color: #bee5f2;
}

.input:focus {
  outline: none !important;
  border: none !important;
}

/* button */
.btn {
  border-radius: 8px;
  background: linear-gradient(135deg, #3dc6f4, #2396bd);
  color: #ffffff;
  font-size: 14px;
  font-weight: 600;
  width: 150px;
}
.btn:hover {
  background-color: #1e8cb1;
}
.loginPage::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0px;
  bottom: 0px;
  right: 0px;
  margin-top: -20%;
  margin-bottom: -12%;
  margin-right: -13%;
  width: 67%;
  transform: translateX(0) translateY(0) rotate(4deg) skewX(0) skewY(0)
    scaleX(1) scaleY(1);
  border-radius: 100%;
  background-color: #176b87;
}
.loginPage::after {
  content: "";
  position: absolute;
  z-index: -2;
  top: 0px;
  bottom: 0px;
  right: 0px;
  margin-top: -20%;
  margin-bottom: -12%;
  margin-right: -13%;
  width: 69%;
  transform: translateX(0) translateY(0) rotate(-7deg) skewX(0) skewY(0)
    scaleX(1) scaleY(1);
  border-radius: 100%;
  background-color: #176b87;
  opacity: 0.4;
}

@media screen and (max-width: 768px) {
  .loginPage {
    height: max-content;
    /* overflow: visible; */
    background: #176b87;
  }
  .loginPage::before {
    display: none;
  }
  .loginPage::after {
    display: none;
  }
  form {
    margin-left: 0px;
    margin-top: 50px;
  }
  .input {
    width: 80%;
  }
  .input-group-manual {
    border: 1px solid #ffffff;
    height: 45px;
    width: 100%;
    border-radius: 8px;
  }
  .logo-right {
    top: 50px;
  }
  .container-right-side {
    padding: 0 16px;
  }
}

@media screen and (max-width: 576px) {
  .input {
    width: 70%;
  }
  .btn {
    width: 100%;
    height: 40px;
  }
  .note {
    position: fixed;
    bottom: 50px;
    font-size: 12px;
    width: 90%;
  }
}
