.navbar {
  height: 45px;
  padding: 0 !important;
  width: 100%;
  /* background-color: red; */
}
@media screen and (min-width: 577px) {
  .navbar {
    position: fixed;
    top: 20px;
    z-index: 99;
    width: calc(100% - 38px);
    border-radius: 10px;
    height: 55px !important;
    padding: 0 20px !important;
    background: #fafafa;
    box-shadow: 0 0 15px #b1b1b166;
  }
}
@media screen and (min-width: 1200px) {
  .navbar {
    position: fixed;
    top: 20px;
    z-index: 99;
    width: calc(100% - 248px);
    border-radius: 10px;
    height: 55px !important;
    padding: 0 20px !important;
    background: #fafafa;
    box-shadow: 0 0 15px #b1b1b166;
  }
}
.navbar-content {
  width: 100%;
}
.navbar-content h1 {
  font-size: 12px;
  line-height: 18px;
}
.navbar-content i {
  font-size: 22px;
}
img {
  height: 25px;
  transition: all 0.2s ease-in;
  filter: grayscale(100%);
}
img:hover {
  transition: all 0.2s ease-in;
  transform: scale(1.05);
  cursor: pointer;
  filter: grayscale(0%);
}

.select {
  font-size: 12px;
  padding-top: 2px;
  padding-bottom: 2px;
}

/* notification */
.notification-bell {
  position: relative;
  cursor: pointer;
}

.bell-icon {
  position: relative;
  display: inline-block;
}

.notification-badge {
  position: absolute;
  top: -1px;
  right: 3px;
  width: 8px;
  height: 8px;
  background-color: red;
  border-radius: 50%;
  display: none;
}

.notification-bell.active .notification-badge {
  display: block;
}

/* menu profile */
.menu-profile {
  position: absolute;
  z-index: 999;
  right: 0;
  background-color: #176b87;
  padding: 20px 0;
  width: 194px;
  border-radius: 7px;
}
.profile .slide-fade-enter-active,
.profile .slide-fade-leave-active {
  transition: transform 0.5s ease, opacity 0.5s ease;
}
.profile .slide-fade-enter,
.profile .slide-fade-leave-to {
  transform: translateY(50px);
  opacity: 0;
}

/* menu profile */
.menu-notification {
  z-index: 999;
  position: absolute;
  right: -10px;
  background-color: #fff;
  width: 300px;
  border-radius: 7px;
}
.notification-bell .slide-fade-enter-active,
.notification-bell .slide-fade-leave-active {
  transition: transform 0.5s ease, opacity 0.5s ease;
}
.notification-bell .slide-fade-enter,
.notification-bell .slide-fade-leave-to {
  transform: translateY(50px);
  opacity: 0;
}
