.sidebar {
  position: fixed;
  left: 10px;
  top: 0;
  padding-top: 20px;
  height: 100vh !important;
  width: 198px;
  overflow-y: scroll;
  height: max-content;
  color: #fff;
  z-index: 99;
}

.sidebar-container {
  height: max-content;
}
.logo {
  display: flex;
  gap: 10px;
  height: 25px;
  align-items: center;
  padding-left: 10px;
  animation-duration: 1s;
  margin-bottom: 27px;
}
.logo img {
  width: 28px;
  display: block;
}
.logo span {
  font-size: 13px;
}

.menu {
  margin-top: 25px;
}
.menu ul {
  list-style: none;
  padding: 0;
}

.menu ul li {
  cursor: pointer;
  transition: background-color 0.3s;
  margin-bottom: 15px;
  margin-top: 15px;
}

.menu ul li a {
  position: relative;
  margin: 2px 0;
  padding: 17px;
}
.menu ul li .sub-menu {
  border-left: 1px solid #fff;
}
.menu ul li .nuxt-link-exact-active {
  background-color: #f1f5f9;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}
.menu ul li span {
  font-size: 12px;
  color: #fff;
}

.menu ul li i {
  font-size: 12px;
  color: #fff;
}
.menu ul li .nuxt-link-exact-active::before,
.menu ul li .nuxt-link-exact-active::after {
  --border-radius: 1rem;

  content: "";
  position: absolute;
  width: var(--border-radius);
  height: var(--border-radius);
  right: 0;
  background: #176b87;
}
.menu ul li .nuxt-link-exact-active::before {
  top: calc(var(--border-radius) * -1);
  box-shadow: 10px 10px 0 10px #f1f5f9;
  border-radius: 0 0 100vw 0;
}
.menu ul li .nuxt-link-exact-active::after {
  bottom: calc(var(--border-radius) * -1);
  box-shadow: 10px -10px 0 10px #f1f5f9;
  border-radius: 0 100vw 0 0;
}

.menu ul li .nuxt-link-exact-active span,
.menu ul li .nuxt-link-exact-active i {
  color: #176b87;
}

/* dropdown */
.dropdown {
  cursor: pointer;
  transition: background-color 0.3s;
  margin-bottom: 5px;

  position: relative;
  margin: 2px 0;
  padding: 17px;
}
.dropdown-list {
  background: #14586e;
  border-radius: 10px 0 0 10px;
  padding: 5px 10px 5px 10px !important;
  margin-bottom: 15px;
}
.dropdown-list li .nuxt-link-exact-active {
  border-radius: 5px !important;
}
.dropdown-list li .nuxt-link-exact-active::before,
.dropdown-list li .nuxt-link-exact-active::after {
  display: none !important;
}
/* .custom-link {
  position: relative;
  margin: 2px 10px;
  width: 100px;
  padding: 17px;
  background-color: #000000;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
} */

/* desain tambahan sidebar link */

@media screen and (max-width: 1200px) {
  .menu ul li span,
  .logo span {
    display: none;
  }
  .sidebar {
    width: 58px;
  }
}

@media screen and (max-width: 576px) {
  .sidebar {
    position: absolute;
    top: 0;
    left: 0;
    width: 80%;
    height: 111vh !important;
    padding: 0 20px;
    background: #176b87;
    color: #fff;
    z-index: 99;
    transform: translateX(-100%);
    transition: transform 0.3s ease;
  }
  .sidebar-open {
    transform: translateX(0);
  }
  .logo {
    display: none;
  }
  .menu ul li span {
    display: block;
  }

  /* menu list */

  .menu ul li .nuxt-link-exact-active {
    border-radius: 30px;
  }
  .menu ul li .nuxt-link-exact-active::before,
  .menu ul li .nuxt-link-exact-active::after {
    display: none;
  }
}
