.sidebar {
  position: absolute;
  left: 10px;
  top: 40px;
  width: 198px;
  height: 100%;
  background: transparent;
  color: #fff;
  z-index: 99;
}

.logo {
  display: flex;
  gap: 10px;
  height: 25px;
  align-items: center;
  padding-left: 10px;
  animation-duration: 1s;
  margin-bottom: 27px;
}
.logo img {
  width: 28px;
  display: block;
}
.logo span {
  font-size: 13px;
}

.menu {
  margin-top: 25px;
}
.menu ul {
  list-style: none;
  padding: 0;
}

.menu ul li {
  padding: 17px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-bottom: 5px;
}

.menu ul li span {
  font-size: 12px;
  color: #fff;
}

.menu ul li i {
  font-size: 12px;
  color: #fff;
}

.menu ul li.active {
  background-color: #f1f5f9;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  position: relative;
}

.menu ul li span.active {
  color: #176b87;
}

.menu ul li i.active {
  color: #176b87;
}

.menu ul li.hoverable:hover {
  background-color: #414141b1;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.menu ul ul li {
  padding: 10px 25px;
  background-color: #444;
}

/* desain tambahan sidebar link */
.curved-div-one {
  position: absolute;
  top: -24px;
  right: -0.5px;
  width: 25px;
  height: 25px;
  border-right: 1px solid #f1f5f9;
  border-top: 1px solid #f1f5f9;
  background-image: url(~/assets/img/lengkungan.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  transform: rotate(90deg);
}
.curved-div-two {
  position: absolute;
  bottom: -24px;
  right: -0.5px;
  width: 25px;
  height: 25px;
  border-right: 1px solid #f1f5f9;
  border-top: 1px solid #f1f5f9;
  background-image: url(~/assets/img/lengkungan.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  /* transform: rotate(90deg); */
}

@media screen and (max-width: 1200px) {
  .menu ul li span,
  .logo span {
    display: none;
  }
  .sidebar {
    width: 58px;
  }
}

@media screen and (max-width: 576px) {
  .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 70%;
    height: 100vh;
    padding: 0 20px;
    background: #176b87;
    color: #fff;
    z-index: 99;
    transform: translateX(-100%);
    transition: transform 0.3s ease;
  }
  .sidebar-open {
    transform: translateX(0);
  }
  .logo {
    display: none;
  }
  .menu ul li span {
    display: block;
  }

  /* menu list */

  .menu ul li.active {
    border-radius: 30px;
  }
  .menu ul li.hoverable:hover {
    border-radius: 30px;
  }
  .curved-div-one {
    display: none;
  }
  .curved-div-two {
    display: none;
  }
}
